/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");

/* General Styles */

.container {
	max-width: 1200px;
	padding-left: 50px;
	padding-right: 50px;
	margin-right: auto;
	margin-left: auto;
}

@media (max-width: 600px) {
	.container {
		padding-left: 25px;
		padding-right: 25px;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: currentColor;
}

.block-title {
	text-align: center;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 300;
	font-size: 32px;
	line-height: 39px;
	text-transform: uppercase;
	margin: 0;
	color: white;
	margin-bottom: 80px;
}

/* Header */

header {
	color: white;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.logo {
		font-size: 30px;
		animation-name: opacity;
		animation-fill-mode: both;
		animation-delay: 3.6s;
		animation-duration: 0.7s;
	}

	nav {
		ul {
			display: flex;
			align-items: center;

			li {
				margin-right: 13px;
				animation-name: opacity;
				animation-fill-mode: both;
				animation-duration: 1s;
			}

			li:nth-child(1) {
				animation-delay: 3.8s;
			}

			li:nth-child(2) {
				animation-delay: 4s;
			}

			li:last-child {
				margin-right: 0;
				animation-delay: 4.2s;
			}
		}

		.nav-link {
			display: block;
			font-weight: 300;
			font-size: 16px;
			padding: 12px 14px;
			background-color: rgba(255, 255, 255, 0.1);
			backdrop-filter: blur(50px);
			border-radius: 40px;
			transition: 0.4s;
		}

		.nav-link:hover {
			background-color: rgba(255, 255, 255, 0.2);
		}
	}
}

@media (max-width: 800px) {
	header {
		height: 50px;

		nav {
			.nav-link {
				font-size: 14px;
				padding: 8px 10px;
			}
		}

		.logo {
			font-size: 26px;
		}
	}
}

@media (max-width: 480px) {
	header {
		height: 50px;

		nav {
			.nav-link {
				font-size: 12px;
				padding: 6px 8px;
			}
		}

		.logo {
			font-size: 22px;
		}
	}
}

/* Main Banner */

.main-banner {
	overflow: hidden;

	.background {
		height: 100vh;
		width: 100%;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}

	.background-video {
		min-width: 100%;
		min-height: 100%;
	}

	.video-mask {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: black;
		opacity: 0.42;
	}

	.banner-content {
		width: 100%;
		height: calc(100vh - 80px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: white;
		font-size: 34px;
		text-align: center;
		padding-top: 20px;
		padding-bottom: 40px;

		.banner-title {
			font-family: "Montserrat";
			font-style: normal;
			font-weight: 300;
			animation-name: opacity;
			animation-fill-mode: both;
			animation-delay: 2.6s;
			animation-duration: 1.2s;
			font-size: 60px;
			margin: 0;
		}

		p {
			font-family: "Inter";
			font-style: normal;
			font-weight: 300;
			font-size: 22px;
			animation-name: opacity;
			animation-fill-mode: both;
			animation-delay: 2.9s;
			animation-duration: 1.2s;
			font-size: 18px;
		}
	}

	.images-list {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: scale(0.85);

		li {
			width: 80px;
			animation-name: banner-images;
			animation-delay: 0.2s;
			animation-duration: 2.5s;
			animation-fill-mode: both;
			animation-timing-function: cubic-bezier(0, 0.43, 0, 1);
			position: relative;

			img {
				height: 72vh;
			}
		}

		li:nth-child(odd) {
			margin-top: 400px;
		}

		li:nth-child(even) {
			margin-bottom: 200px;
		}
	}
}

@media (max-width: 1480px) {
	.image-item:nth-child(1) {
		display: none;
	}
}

@media (max-width: 1170px) {
	.image-item:nth-child(2) {
		display: none;
	}
}

@media (max-width: 880px) {
	.images-list {
		margin-right: 40px;
	}

	.image-item {
		animation-name: banner-images-m !important;
	}
}

@media (max-width: 600px) {
	.banner-content {
		.banner-title {
			font-size: 40px !important;
		}

		p {
			font-size: 16px !important;
		}
	}
}

@keyframes banner-images {
	50% {
		margin: 0;
		width: 80px;
		padding: inherit;
	}

	100% {
		opacity: 1;
		width: 220px;
		margin: 0 50px;
	}
}

@keyframes banner-images-m {
	50% {
		margin: 0;
		width: 80px;
		padding: inherit;
	}

	100% {
		opacity: 1;
		width: 100px;
		margin: 0;
	}
}

@keyframes opacity {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

/* Tech Specs */

.tech-specs {
	background-color: black;

	.container {
		padding-top: 100px;
		padding-bottom: 80px;
	}

	.specs-content {
		display: flex;
		position: relative;
	}

	.image-box {
		position: relative;
		width: 600px;

		img {
			width: 100%;
		}
	}

	.lines {
		position: absolute;
		background-color: white;
		transform: rotate(-56deg);
		height: 2px;
		width: 260px;
		-webkit-box-shadow: 0px 0px 30px 0px rgba(34, 60, 80, 0.3);
		-moz-box-shadow: 0px 0px 30px 0px rgba(34, 60, 80, 0.3);
		box-shadow: 0px 0px 30px 0px rgba(34, 60, 80, 0.3);
	}

	.lines:nth-child(2) {
		top: 150px;
		right: 0;
	}

	.lines:nth-child(3) {
		bottom: 150px;
		left: 80px;
	}

	h2 {
		position: absolute;
		color: white;
		top: 215px;
		right: 170px;
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 400;
		font-size: 60px;
		text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
	}

	.specs {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 300;
		color: white;
		opacity: 0.85;
		font-size: 17px;
		margin-left: 70px;
		margin-top: 25px;

		.main-item {
			margin-bottom: 20px;
			display: flex;

			span {
				text-transform: uppercase;
				margin-right: 20px;
			}

			ul {
				li {
					margin-bottom: 8px;
					transition: 0.4s;

					b {
						font-weight: 500;
					}
				}

				li:last-child {
					margin-bottom: 0;
				}

				li:hover {
					transform: scale(1.03);
				}
			}
		}
		.main-item:last-child {
			margin-bottom: 0;
		}
	}
}

@media (max-width: 1220px) {
	.specs-content {
		flex-direction: column;
		align-items: center;
	}

	.image-box {
		margin-bottom: 50px;
	}
}

/* Compound */

.compound {
	background-color: black;
	color: white;
	padding: 50px 0;
}

.compound > .container {
	max-width: 1400px;
}

.compound-content {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.info-block > li {
	width: 300px;
	height: 150px;
	background: rgba(255, 255, 255, 0.09);
	backdrop-filter: blur(75.2696px);
	margin-bottom: 65px;
	border-radius: 40px;
	padding: 30px;
}

.info-block > li:last-chil d {
	margin-bottom: 0;
}

.info-block > li > h3 {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	margin: 0;
}
