/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");

/* General Styles */

.container {
	max-width: 1200px;
	padding-left: 50px;
	padding-right: 50px;
	margin-right: auto;
	margin-left: auto;
}

@media (max-width: 600px) {
	.container {
		padding-left: 25px;
		padding-right: 25px;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: currentColor;
}

.block-title {
	text-align: center;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 300;
	font-size: 32px;
	line-height: 39px;
	text-transform: uppercase;
	margin: 0;
	color: white;
	margin-bottom: 80px;
	text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.7);
}

body {
	background-color: black;
}

/* Header */

header {
	color: white;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.logo {
		font-size: 30px;
		animation-name: opacity;
		animation-fill-mode: both;
		animation-delay: 3.6s;
		animation-duration: 0.7s;
	}

	nav {
		ul {
			display: flex;
			align-items: center;

			li {
				margin-right: 13px;
				animation-name: opacity;
				animation-fill-mode: both;
				animation-duration: 1s;
				backdrop-filter: blur(16px);
				border-radius: 40px;
			}

			li:nth-child(1) {
				animation-delay: 3.8s;
			}

			li:nth-child(2) {
				animation-delay: 4s;
			}

			li:last-child {
				margin-right: 0;
				animation-delay: 4.2s;
			}
		}

		.nav-link {
			display: block;
			font-weight: 300;
			font-size: 16px;
			padding: 12px 14px;
			background-color: rgba(255, 255, 255, 0.1);
			border-radius: 40px;
			transition: 0.4s;
		}

		.nav-link:hover {
			background-color: rgba(255, 255, 255, 0.2);
		}
	}
}

@media (max-width: 800px) {
	header {
		height: 50px;

		nav {
			.nav-link {
				font-size: 14px;
				padding: 8px 10px;
			}
		}

		.logo {
			font-size: 26px;
		}
	}
}

@media (max-width: 480px) {
	header {
		height: 50px;

		nav {
			.nav-link {
				font-size: 12px;
				padding: 6px 8px;
			}
		}

		.logo {
			font-size: 22px;
		}
	}
}

/* Main Banner */

.main-banner {
	overflow: hidden;

	.background {
		height: 100vh;
		width: 100%;
		overflow: hidden;
		position: absolute;
		z-index: -1;
		background-color: black;
	}

	.background-video {
		min-width: 100%;
		min-height: 100%;
	}

	.video-mask {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: black;
		opacity: 0.42;
	}

	.banner-content {
		width: 100%;
		height: calc(100vh - 80px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: white;
		font-size: 34px;
		text-align: center;
		padding-top: 20px;
		padding-bottom: 40px;

		.banner-title {
			font-family: "Montserrat";
			font-style: normal;
			font-weight: 300;
			animation-name: opacity;
			animation-fill-mode: both;
			animation-delay: 2.6s;
			animation-duration: 1.2s;
			font-size: 60px;
			margin: 0;
		}

		p {
			font-family: "Inter";
			font-style: normal;
			font-weight: 300;
			font-size: 22px;
			animation-name: opacity;
			animation-fill-mode: both;
			animation-delay: 2.9s;
			animation-duration: 1.2s;
			font-size: 18px;
		}
	}

	.images-list {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: scale(0.85);

		li {
			width: 80px;
			animation-name: banner-images;
			animation-delay: 0.2s;
			animation-duration: 2.5s;
			animation-fill-mode: both;
			animation-timing-function: cubic-bezier(0, 0.43, 0, 1);
			position: relative;

			img {
				height: 72vh;
			}
		}

		li:nth-child(odd) {
			margin-top: 400px;
		}

		li:nth-child(even) {
			margin-bottom: 200px;
		}
	}
}

@media (max-width: 1480px) {
	.image-item:nth-child(1) {
		display: none;
	}
}

@media (max-width: 1170px) {
	.image-item:nth-child(2) {
		display: none;
	}
}

@media (max-width: 880px) {
	.images-list {
		margin-right: 40px;
	}

	.image-item {
		animation-name: banner-images-m !important;
	}
}

@media (max-width: 600px) {
	.banner-content {
		.banner-title {
			font-size: 40px !important;
		}

		p {
			font-size: 16px !important;
		}
	}
}

@keyframes banner-images {
	50% {
		margin: 0;
		width: 80px;
		padding: inherit;
	}

	100% {
		opacity: 1;
		width: 220px;
		margin: 0 50px;
	}
}

@keyframes banner-images-m {
	50% {
		margin: 0;
		width: 80px;
		padding: inherit;
	}

	100% {
		opacity: 1;
		width: 100px;
		margin: 0;
	}
}

@keyframes opacity {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

/* Tech Specs */

.tech-specs {
	background-color: black;

	.container {
		padding-top: 100px;
		padding-bottom: 115px;
	}

	.specs-content {
		display: flex;
		position: relative;
		align-items: center;
	}

	.image-box {
		position: relative;
		max-width: 600px;

		img {
			width: 100%;
		}
	}

	.specs {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 300;
		color: white;
		opacity: 0.85;
		font-size: 17px;
		margin-left: 70px;

		.main-item {
			margin-bottom: 20px;
			display: flex;
			transition: 0.4s;

			span {
				text-transform: uppercase;
				margin-right: 20px;
			}

			ul {
				li {
					margin-bottom: 8px;

					b {
						font-weight: 500;
					}
				}

				li:last-child {
					margin-bottom: 0;
				}
			}
		}

		.main-item:last-child {
			margin-bottom: 0;
		}

		.main-item:hover {
			transform: scale(1.04);
			padding-left: 10px;
		}
	}
}

@media (max-width: 1100px) {
	.specs-content {
		flex-direction: column;
		align-items: center;
	}

	.image-box {
		margin-bottom: 50px;
	}

	.specs {
		margin-left: 20px !important;
	}

	.block-title {
		margin-bottom: 30px;
	}
}

@media (max-width: 620px) {
	.specs {
		font-size: 15px !important;
	}
}

/* Accessories */

.accessories {
	position: relative;

	.container {
		padding-bottom: 100px;
	}

	.background {
		height: 100%;
		width: 100%;
		overflow: hidden;
		position: absolute;
		z-index: -1;
		background-color: black;
	}

	.background-video {
		min-width: 100%;
		min-height: 100%;
	}

	.video-mask {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: black;
		opacity: 0.42;
	}

	.block-title {
		padding-top: 100px;
	}

	.accessories-content {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.accessories-item {
		min-width: 360px;
		background: rgba(255, 255, 255, 0.09);
		backdrop-filter: blur(75.2696px);
		border-radius: 40px;
		padding: 25px 30px;
		margin: 10px;
		color: white;
		flex: 1 0 25%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		h2 {
			margin: 0;
			font-family: "Montserrat";
			font-style: normal;
			font-weight: 400;
		}

		.image-box {
			max-width: 80%;
			min-height: 120px;
			position: relative;
			margin: 30px auto;

			img {
				width: 100%;
			}
		}

		.description {
			opacity: 0.8;
			font-family: "Montserrat";
			font-style: normal;
			font-weight: 300;
			font-size: 13px;
			display: flex;
			margin-bottom: 20px;

			ul {
				margin-left: 10px;

				li {
					margin-bottom: 5px;
				}

				li:last-child {
					margin-bottom: 0;
				}
			}
		}

		form {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.colors {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				min-height: 50px;
			}

			input {
				display: none;
			}

			label {
				font-size: 0;
				padding: 13px;
				border-radius: 16px;
				margin: 5px;
				box-sizing: unset;
				position: relative;
				outline: 3px solid rgba(255, 255, 255, 0.3);
				transform: translateZ(0);
				transition: 0.3s;
				cursor: pointer;
			}

			input:checked + label {
				padding: 16px;
				border-radius: 18px;
			}

			.black {
				background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(53, 53, 65, 1) 100%);
			}
			.white {
				background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(187, 187, 201, 1) 100%);
			}
			.marine-blue {
				background: linear-gradient(0deg, rgba(74, 103, 117, 1) 0%, rgba(40, 65, 78, 1) 100%);
			}
			.dark-cherry {
				background: linear-gradient(0deg, rgba(83, 68, 75, 1) 0%, rgba(108, 73, 90, 1) 100%);
			}
			.electric-orange {
				background: linear-gradient(0deg, rgba(252, 98, 74, 1) 0%, rgba(185, 57, 37, 1) 100%);
			}
			.english-lavanda {
				background: linear-gradient(0deg, rgba(143, 140, 171, 1) 0%, rgba(107, 103, 147, 1) 100%);
			}
		}

		.count {
			display: flex;
			align-items: center;
			min-width: 210px;

			h3 {
				margin: 0;
				font-family: "Montserrat";
				font-style: normal;
				font-weight: 300;
				font-size: 22px;
			}

			button {
				color: black;
				margin-left: 15px;
				font-family: "Montserrat";
				font-style: normal;
				font-weight: 400;
				background-color: white;
				border: none;
				border-radius: 20px;
				padding: 8px 16px;
				cursor: pointer;
			}
		}
	}

	@media (max-width: 608px) {
		form {
			flex-direction: column;
		}

		.count {
			margin-top: 15px;
		}
	}

	.accessories-item:last-child {
		.image-box {
			max-width: 600px;
		}
	}
}

/* Buy IPad Air */

.ipad-buy {
	.container {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.buy-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		color: white;

		h2 {
			font-family: "Montserrat";
			font-style: normal;
			font-weight: 400;
			font-size: 26px;
		}

		.cart-content {
			display: flex;
			flex-direction: column;

			.cart-item {
				display: flex;
				flex-direction: column;

				h2 {
					font-weight: 300;
					font-size: 24px;
				}
			}
		}
	}
}

/* Preloader */
.preloader {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: black;
	z-index: 1001;
	transition: 0.3s;
}

.loader {
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 3px solid lightgray;
	border-radius: 50%;
	border-top-color: gray;
	animation: spin 1s ease-in-out infinite;
	-webkit-animation: spin 1s ease-in-out infinite;
	transition: 0.3s;
}

.loaded_hiding .preloader {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.loaded .preloader {
	display: none;
}

@keyframes spin {
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	to {
		-webkit-transform: rotate(360deg);
	}
}
